@import "tailwindcss";

@theme {
    --color-primary: #1A1A1A;    
    --color-secondary: #F2F2F2;   
    --color-tertiary: #E5E5E5;    
    --color-white: #FFFFFF;      
    --color-muted: #7A7A7A; 
}